<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <h1>e-Shop</h1>
    </a>

    <div class="d-flex flex-row px-2">
      <button class="btn btn-outline-primary position-relative d-flex justify-content-end d-lg-none">
        🛒
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

        </span>
      </button>

      <!-- Botón para móviles -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <button class="btn btn-outline-primary position-relative d-none d-lg-block" >
          🛒
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <!--  {{ cartItemsCount }}-->
          </span>
        </button>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">
            Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos">
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto">
            Contacto
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
