<div class="container">
  <h1>Bienvenido a nuestro Ecommerce</h1>

  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Buscar productos..."
    class="form-control mb-3"
  />

  <button (click)="showForm = !showForm" class="btn btn-success mb-3">
    {{showForm ? 'Cancelar' : 'Crear Producto'}}
  </button>

  <app-product-form
    *ngIf="showForm"
    [categories]="categories"
    (productCreated)="handlerProductCreated($event)"
  >
  </app-product-form>

  <app-product-list
  [categories]="categories"
  [searchTerm]="searchTerm"
  (productClick)="handlerProductClick($event)"
  [reloadTrigger]="reloadTrigger"
  ></app-product-list>
</div>
