<div class="container mt-4">
  <div *ngIf="filteredProducts.length > 0; else noResultTemplate" class="row">

    <div class="col-md-4 mb-3" *ngFor="let product of filteredProducts">
      <div class="card"  (click)="onProductClick(product.id || '')">
        <div class="d-flex justify-content-center">
          <img [src]="product.image" class="card-img-top" alt="" style="width: fit-content; max-width: 100%; height: auto; max-height: 250px; object-fit: cover;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>{{product.categoryName}}</strong> </p>
          <p class="card-text"><strong>{{product.price}}</strong> $</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResultTemplate>
    <div class="text-center mt-5">
      <div *ngIf="searchTerm.trim(); else noProductsAll ">
        <h4>🔍 No se encontraron productos</h4>
        <p class="text-muted">No hay productos que coincidan con "{{searchTerm}}"</p>
        <button class="btn btn-outline-primary" (click)="clearSearch()">Ver todos los productos</button>
      </div>

      <ng-template #noProductsAll>
        <h4>📦 No hay productos disponibles</h4>
        <p>Aun no se han agregado productos </p>
      </ng-template>
    </div>
  </ng-template>

  <!--<div *ngIf="filteredProducts.length === 0 && products.length > 0 " class="text-center mt-4">
    <p class="text-muted">No se encontraron productos para {{searchTerm}}</p>
  </div> -->
</div>
